<h2>Edit User</h2>
<form [formGroup]="userForm">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="phoneNumber" placeholder="Phone Number">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="address" placeholder="Address">
  </mat-form-field>
  <button mat-button color="primary" (click)="save()">Save</button>
  <button mat-button color="warn" (click)="close()">Cancel</button>
</form>
